<?xml version="1.0"?>
<config>
    <modules>
        <Project_Brand>
            <version>0.2.0</version>
        </Project_Brand>
    </modules>
    <global>
        <helpers>
            <project_brand>
                <class>Project_Brand_Helper</class>
            </project_brand>
        </helpers>
        <blocks>
            <project_brand>
                <class>Project_Brand_Block</class>
            </project_brand>
        </blocks>
        <models>
            <project_brand>
                <class>Project_Brand_Model</class>
                <resourceModel>project_brand_resource</resourceModel>
            </project_brand>
            <project_brand_resource>
                <class>Project_Brand_Model_Resource</class>
                <entities>
                    <brand>
                        <table>project_brand_brand</table>
                    </brand>
                    <brand_product>
                        <table>brand_product</table>
                    </brand_product>
                </entities>
            </project_brand_resource>
        </models>
        <resources>
            <project_brand_setup>
                <setup>
                    <module>Project_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </project_brand_setup>
            <project_brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </project_brand_write>
            <project_brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </project_brand_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <project_brand>
                <use>standard</use>
                <args>
                    <module>Project_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </project_brand>
        </routers>
        <layout>
            <updates>
                <project_brand>
                    <file>project/brand.xml</file>
                </project_brand>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Project_Brand_Adminhtml before="Mage_Adminhtml">Project_Brand_Adminhtml</Project_Brand_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <project_brand>
                    <files>
                        <default>Project_Brand.csv</default>
                    </files>
                </project_brand>
            </modules>
        </translate>
        <layout>
            <updates>
                <project_brand>
                    <file>project/brand.xml</file>
                </project_brand>
            </updates>
        </layout>
    </adminhtml>
</config>